version: "3.9"

services:
  api:
    image: fastapi-api:dev
    container_name: fastapi-api-dev
    build: .
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app/app
    command: >
      uvicorn app.main:app
      --host 0.0.0.0
      --port 8000
      --reload
    restart: unless-stopped
